#headerSvg {
    -webkit-clip-path: polygon(0 0, 100% 0, 72% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 72% 100%, 0% 100%);
    position: absolute;
    background: linear-gradient(to bottom right, #2980b9, #38b6ff);
    height: 650px;
    width: 50%;
    top: 0;
    z-index: -1
}

#middleSvg {
    position: absolute;
    background-color: #f2f2f2;
    height: 600px;
    width: 100%;
    top: 2025px;
    z-index: -1;
}

/* #servicesSvg {
    -webkit-clip-path: polygon(32% 0, 100% 0, 100% 100%, 14% 100%);
    clip-path: polygon(32% 0, 100% 0, 100% 100%, 14% 100%);
    position: absolute;
    background-color: #2980b9;
    height: 300px;
    width: 70%;
    top: 85px;
    right: 0;
    z-index: -1;
} */

#logo {
    background: url('../constants/iss_logo.png') no-repeat center;
    background-size: contain;
    width: 50px;
    height: 50px;
    position: absolute;
    top: -5px;
    left: 50%
}

#companyName {
    margin: 2px;
    color: white;
    font-weight: 700px
}

.container {
    border: 1px solid #C5C5C5;
    border-radius: 4px
}

.heroBox {
    height: 65vh;
}

#heroText {
    margin-top: 20vh
}

.contactButton {
    border-radius: 4px;
    border: 2px solid #e74c3c;
    padding: 8px 25px;
    color: #e74c3c;
    font-weight: bold
}

.contactButton:hover {
    cursor: pointer;
    border-color: #1abc9c;
    color: #1abc9c;
    /* background: #16a085 */
}

.navOption {
    padding: 5px 10px;
    color: black
}

.navOption:hover {
    border-bottom: 2px solid;
    cursor: pointer;
    color: #2980B9
}

.worker-ipad {
    background: url('../constants/home/worker_ipad.png') no-repeat center;
    background-size: cover;
    border-radius: 4px
}

.learnMoreText {
    color: #e74c3c;
    font-weight: bold;
    margin: 5px
}

.learnMoreText:hover {
    cursor: pointer;
    color: #1abc9c;
}

.servicesBox {
    padding: 50px;
    background-color: #fff
}
.servicesTitle{
    margin-top: 17vh;
}

#servicesIpad {
    background: url('../constants/home/undraw_confirmed.svg') no-repeat center;
    background-size: contain;
    height: 200px;
    margin-bottom: 35px
}

.mobile-data-collection {
    background: url('../constants/services/ipad_fulcrum.png') no-repeat center;
    background-size: contain;
}

#servicesDesktop {
    background: url('../constants/home/realtime_sync.svg') no-repeat center;
    background-size: contain;
    height: 200px;
    margin-bottom: 35px
}

.real-time-reports {
    /* background: url('../constants/home/realtime_sync.svg') no-repeat center;
    background-size: contain; */

}
.ant-steps-item-custom.ant-steps-item-process .ant-steps-item-icon > .ant-steps-icon {
    color: #1abc9c !important
}

#infoImage {
    background: url('../constants/home/construction.svg') no-repeat center;
    margin: 20px;
    height: 300px;
    background-size: contain;
}

.examplesBox {
    padding: 20px;
    background-color: #fff;
}

#examples1 {
    margin: 0 20px 20px 0;
    height: 100px;
}

.ohs {
    background: url('../constants/examples/ohs.jpg') no-repeat center;
    background-size: cover;
    border-radius: 4px
}

#examples2 {
    margin: 0 20px 20px 0;
    height: 100px;
}

.maintenance {
    background: url('../constants/examples/car-repair.jpg') no-repeat center;
    background-size: cover;
    border-radius: 4px
}

#examples3 {
    margin: 0 20px 20px 0;
    height: 100px;
}

.inspections {
    background: url('../constants/examples/ConstructioniPad.jpg') no-repeat center;
    background-size: cover;
    border-radius: 4px
}

#examples4 {
    margin: 0 20px 20px 0;
    height: 100px;
}

.quality-checks {
    background: url('../constants/examples/og-share.jpg') no-repeat center;
    background-size: cover;
    border-radius: 4px
}

#examples5 {
    margin: 0 20px 20px 0;
    height: 100px;
}

.inductions {
    background: url('../constants/examples/induction.jpg') no-repeat center;
    background-size: cover;
    border-radius: 4px
}

#examples6 {
    margin: 0 20px 20px 0;
    height: 100px;
}

.procedures {
    background: url('../constants/examples/construction-workers-tablet-featured-765x420.jpg') no-repeat center;
    background-size: cover;
    border-radius: 4px
}

#contactImage {
    background: url('../constants/home/undraw_calling.svg') no-repeat center;
    margin: 30px;
    height: 250px;
    background-size: contain;
}
#pricingImage {
    background: url('../constants/pricing/selection.svg') no-repeat center;
    margin: 40px;
    height: 250px;
    background-size: contain;
}
.ipad-example{
    background: url('../constants/services/ipad_fulcrum.png') no-repeat center;
    height: 400px;
    background-size: contain;
}
.portal-example{
    background: url('../constants/services/portal\ onscreen\ demo.png') no-repeat center;
    height: 400px;
    background-size: contain;
}
.menu-example{
    background: url('../constants/services/menu.png') no-repeat center;
    height: 400px;
    background-size: contain;
}
.email-example{
    background: url('../constants/services/auto_email.png') no-repeat center;
    height: 400px;
    background-size: contain;
}
.invoiceImage{
    background: url('../constants/nav\ logo\ side.png') no-repeat center;
    height: 50px;
    margin: 20px;
    background-size: contain;
}
.footer {
    color: #fff
}
.ant-notification-notice{
    border: 2px solid #2980b9
}

.ant-back-top {
    top: 50px;

}

.ant-back-top-inner {
    height: 30px;
    width: 50px;
    line-height: 25px;
    border-radius: 4px;
    background-color: #2980b9;
    color: #fff;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    border: 1px solid white
}

#backTop {
    display: none
}

@media only screen and (max-width: 767px) {
    #headerSvg {
        -webkit-clip-path: polygon(0 0, 100% 0, 72% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 72% 100%, 0% 100%);
        position: absolute;
        background: linear-gradient(to bottom right, #2980b9, #38b6ff);
        height: 480px;
        width: 25%;
        top: 0
    }

    #companyName {
        color: black
    }

    #middleSvg {
        top: 2850px
    }

    #logo {
        top: 0;
        left: 0;
    }

    #heroText {
        margin-top: 5vh
    }

    #backTop {
        display: block
    }
    .servicesTitle{
        margin-top: 5px;
    }
    .smallInvoice td{
        font-size: smaller
    }
    .smallInvoice th{
        font-size: smaller
    }
    .invoiceHide{
        display: none
    }
}
@media print{
    .noPrint{
        display: none
    }
}